{% extends "base.html" %}
{% block title %}Edit Data{% endblock %}
{% block pageHeader %}Deck Editor{% endblock %}

{% block navbar %}
<li><a href="/">Home</a></li>
<li><a href="/view">View</a></li>
<li><a class="active" href="/edit">Edit</a></li>
{% endblock %}
{% block content %}
<h3>Add A new Card...</h3>
<div class="row">
  <div class="col-xs-12">
    <button class="btn btn-success form-control" id="add-card-btn" data-toggle="modal" data-target="#modalAddCard"><span class="glyphicon glyphicon-plus"></span>
    Add Card
    </button>
  </div>
</div>
<h3>Or Edit Exiting Card...</h3>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Edit</th>
      <th>Type</th> 
      <th>In Base Deck</th> 
      <th>Card</th> 
      <th>Description</th> 
      <th>Tags</th>
    </tr>
  </thead>
  <tbody>
    {% for row in readOnlyTable %}
    <tr class="tro" id="{{ row['urlsafekey'] }}" >
      <td><a href="/editCard?usk={{ row['urlsafekey'] }}"><span class="glyphicon glyphicon-pencil"></span></a></td>
      <td class="cardType">{{ row['cardType'] }}</td>
      <td >
        {% if row['includedIn'] %}
        <span class='glyphicon glyphicon-ok'></span>
        {% endif %}
      </td>
      <td class="cardName">{{ row['cardName'] }}</td>
      <td class="cardDesc">{{ row['cardDesc'] }}</td>
      <td>
        {% for tag in row['cardTags'] %}
        <span class="label label-default">{{ tag }}</span>
        {% endfor %}
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}




{% block footer %}
{% block footerScript %}
<script>
  var tableData = {{ cd|tojson|safe }};
  $(document).ready(function(){

    $('#newCardTags').selectize({
        delimiter: ',',
        persist: false,
        create: function(input) {
            return {
                value: input,
                text: input
            }
        }
    });

  });

  $(".tro").click(function(){
    //var myId = $(this).attr('id');
    //alert('howdy!' + myId);
    var myrow = $(this);
    //testRowValsVsDB(myrow);
    var usk = myrow.attr('id');
    //alert("usk\n\n" + usk);

  });

  function testRowValsVsDB(domrow){
    var matches = false;
    var urlsafekey = domrow.attr('id');

    var cardName = tableData[urlsafekey].cardName;
    var cardType = tableData[urlsafekey].cardType;
    var cardDesc = tableData[urlsafekey].cardDesc;
    var cardTags = tableData[urlsafekey].cardTags;
    var cardTagStr = cardTags.join();


    //alert("name:"+cardName +"\n\n("+urlsafekey+")")
    $("[name=cardType]")
    $("#cardName").val(cardName);
    $("#cardDesc").val(cardDesc);
  }
</script>
{% endblock %}
<div class="modal fade" id="modalAddCard" tabIndex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="addCardModalLabel">Add New Card</h4>
      </div>
      <form action="/edit" method="post">
      <div class="modal-body">
        
          <div class="well">
            <label for="cardType">Choose Card Type</label>
            <div class="radio">
              <label>
                <input type="radio" id="cardTypeRed" name="cardType" value="red" checked>
                red <small><i>(noun, so a person/people place(s) or thing(s))</i></small>
              </label>
            </div>
            <div class="radio">
              <label>
                <input type="radio" id="cardTypeGreen" name="cardType" value="green">
                green <small><i>(adjective,  descriptive phrase, or attribute)</i></small>
              </label>
            </div>
            <div class="checkbox">
              <label for="inBaseDeck">
                <input name="inBaseDeck" type="checkbox" id="inBaseDeck"checked >Include in Base Deck
              </label>
            </div>
          </div>

          <div class="form-group">
            <label for="cardName">Card Name</label> 
            <input name="cardName" id="cardName" type="text" class="form-control input-lg" placeholder="Enter a word or phrase">  
          </div> 
          <div class="form-group">
            <label for="cardDesc">Card Description</label>
            <input type="text" class="form-control input-lg" id="cardDesc" name="cardDesc" placeholder= "Enter a brief description">
          </div> 

          <div class="row">
            <div class="col-sm-3"></div>
            <div></div>
            <div class="col-sm-9"></div>
          </div>
          <div>
            <div class="form-group">
              <label for="newCardTags">Edit tags</label>
              <input type="text" class="form-control input-lg" id="newCardTags" name="newCardTags" placeholder="enter tags">
            </div>
          </div>

      </div>
      <div class="modal-footer">
        <input type="hidden" name="behavior" value="addNewCard">
      <button type="submit" class="btn btn-lg btn-default" id="saveCard">Save Card</button>
      </div>
      </form> 
    </div>
  </div>
</div>
{% endblock %}