{% extends "base.html" %}
{% block title %}Index{% endblock %}
{% block pageHeader %}Apples To Apples Deck Creator{% endblock %}

{% block navbar %}
<li><a class="active" href="/">Home</a></li>
<li><a href="/view">View</a></li>
<li><a href="/edit">Edit</a></li>
{% endblock %}
{% block content %}
<p>
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum odit qui dolore sint deleniti dolor eaque error labore provident voluptatibus sapiente, incidunt mollitia velit aliquid magnam deserunt, cumque assumenda sed!
</p>
<p>
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi nisi dolorem mollitia eaque aperiam ullam iusto unde at quos similique necessitatibus sapiente, consequuntur vitae recusandae aliquid commodi. Culpa necessitatibus, rerum.
</p>
{% endblock %}